main {
    padding-top: 120px;
    width: calc(100vw - 17px);
    min-height: 100vh;
    margin: 0 auto;
}

.home {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: calc(100% - 100px);
}