.postContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgba(59, 59, 59, 0.85);
    margin: 10px auto 0 auto;
    border-radius: 15px;
}

.PostForm {
    display: flex;
    margin: 10px 0 0 10px;
}

.formBox {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 400px;
    margin-left: 15px;
}

.span {
    margin: 14.5px 0 14.5px 0;
    font-size: 18px;
    white-space: pre-wrap;
    text-align: start;
    min-width: 400px;
}

.span:focus-visible {
    outline: 0;
}

.spanPlaceholderVisible {
    position: absolute;
    display: block;
    font-size: 20px;
    z-index: -1;
}

.spanPlaceholderNone {
    display: none;
}

.postButton {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 10px 10px 0;
}

.button:focus,
.button:focus-visible {
    outline: none;
}

.len {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: solid 2px;
}