main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 120px;
    padding-bottom: 30px;
    width: 100%;
    margin: 0 auto;
}

.attribute {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
}