.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(87, 61, 61, 1);
    border-radius: 50px;
}

.home {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    width: 70px;
    padding: 10px;
}


.img {
    width: 50px;
    padding: 25px 0 25px 0;
    margin-right: 10px;
}

header {
    width: 100%;
    left: 0;
    position: fixed;
}

.visible {
    top: 0;
    transition: top 0.4s ease-out;
}

.hidden {
    top: -100px;
    transition: top 0.4s ease-out;
}

.button:focus,
.button:focus-visible {
    outline: none;
}

@media only screen and (max-width: 600px) {
    .home>h2 {
        font-size: 16px;
    }

    .logo {
        width: 50px;
    }
}